<!doctype html>
<html>
<head>
<title>AngularJS $http Example</title>
<style>
.name.ng-valid {
	background-color: lightgreen;
}

.name.ng-dirty.ng-invalid-required {
	background-color: red;
}

.name.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}

.email.ng-dirty.ng-invalid-email {
	background-color: yellow;
}
</style>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>	
<script src="js/app.js"></script>
<script src="js/book_service.js"></script>
<script src="js/book_controller.js"></script>	


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="css/app.css" rel="stylesheet"></link>

</head>
<body data-ng-app="bookApp" class="ng-cloak">
	<div class="generic-container" data-ng-controller="BookController as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Book Registration Form </span>
			</div>
			<div class="formcontainer">
				<form data-ng-submit="ctrl.submit()" name="myForm"
					class="form-horizontal">
					<input type="hidden" data-ng-model="ctrl.book.id" />

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Name</label>
							<div class="col-md-7">
								<input type="text" data-ng-model="ctrl.book.name" id="uname"
									class="form-control input-sm" placeholder="Enter book name"
									required data-ng-minlength="3" />
								<div class="has-error" data-ng-show="myForm.$dirty">
									<span data-ng-show="myForm.uname.$error.required">This is a
										required field</span> <span data-ng-show="myForm.uname.$error.minlength">Minimum
										length required is 3</span> <span data-ng-show="myForm.uname.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Author</label>
							<div class="col-md-7">
								<input type="text" data-ng-model="ctrl.book.author" id="author"
									class="form-control input-sm"
									placeholder="Enter Author name. [This field is validation free]" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Isbn</label>
							<div class="col-md-7">
								<input type="text" data-ng-model="ctrl.book.isbn" id="isbn"
									class="form-control input-sm" placeholder="Enter Isbn" required />
								<div class="has-error" data-ng-show="myForm.$dirty">
									<span data-ng-show="myForm.email.$error.required">This is a
										required field</span> <span data-ng-show="myForm.email.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="pages">Pages</label>
							<div class="col-md-7">
								<input type="text" data-ng-model="ctrl.book.pages" id="pages"
									class="form-control input-sm"
									placeholder="Enter pages. [This field is validation free]" />
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="{{!ctrl.book.id ? 'Add' : 'Update'}}"
								class="btn btn-primary btn-sm" data-ng-disabled="myForm.$invalid">
							<button type="button" data-ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm" data-ng-disabled="myForm.$pristine">Reset
								Form</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">List of Books </span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID.</th>
							<th>Name</th>
							<th>Author</th>
							<th>Isbn</th>
							<th>Pages</th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="u in ctrl.books">
							<td><span data-ng-bind="u.id"></span></td>
							<td><span data-ng-bind="u.name"></span></td>
							<td><span data-ng-bind="u.author"></span></td>
							<td><span data-ng-bind="u.isbn"></span></td>
							<td><span data-ng-bind="u.pages"></span></td>
							<td>
								<button type="button" data-ng-click="ctrl.edit(u.id)"
									class="btn btn-success custom-width">Edit</button>
								<button type="button" data-ng-click="ctrl.remove(u.id)"
									class="btn btn-danger custom-width">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
